@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.sidebar-link {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.home {
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
  color: black;
  min-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 18px;
}
